* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  color: rgb(112, 113, 115);
  background: url(./imgs/bgpattern.png) rgb(32, 150, 73);
  font-family: "Segoe UI", "Open Sans";
}
/* body::before { */
  /* content: ""; */
  /* position: absolute; */
  /* top: 0;  */
  /* left: 0; */
  /* width: 100%;  */
  /* height: 100%;   */
  /* z-index: -1; */
  /* opacity: 0.2; */
  /* background: url("./imgs/bg.jpg"); */
/* } */
img {
  width: 140px;
  height: 215px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
}
#solitaire {
  font-weight: bold;
}
.button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  background: #fff;
  font-weight: bold;
}
.button:hover {
  background: rgb(112, 113, 115);
  color: #fff;
}
.buttonOn {
  background: rgb(112, 113, 115);
  color: #fff;
}
#hiddenCards {
  cursor: pointer;
}
#menuContainer {
  position: relative;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 4px -1px rgb(112, 113, 115);
  z-index: 2;
}
.deckCards {
  padding: 30px 30px 0px 30px;
}
#hiddenBG {
  height: 230px;
  display: inline-block;
}
#hiddenBG img:nth-child(2) {
  position: relative;
  right: 100px;
}
#hiddenBG img:nth-child(3) {
  position: relative;
  right: 200px;
}
.emptyArea {
  opacity: 0.5;
}
.homeArea, .mainArea, .helpArea, .underArea {
  cursor: move;
}
.over {
  opacity: 0.6;
  border: 2px dashed #000 !important;
  border-radius: 15px;
}
#time {
  margin-left: 100px;
  font-weight: bold;
}
#deckHelp {
  float: left;
}
#deckMain {
  clear: both;
  text-align: center;
}
#deckMain div {
  width: 140px;
  height: 215px;
  position: relative;
  display: inline-block;
}
#deckMain div img {
  position: absolute;
  left: 0px;
}
#deckMain div img:nth-child(2) {
  top: 50px;
}
#deckMain div img:nth-child(3) {
  top: 100px;
}
#deckMain div img:nth-child(4) {
  top: 150px;
}
#deckMain div img:nth-child(5) {
  top: 200px;
}
#deckMain div img:nth-child(6) {
  top: 250px;
}
#deckMain div img:nth-child(7) {
  top: 300px;
}
#deckMain div img:nth-child(8) {
  top: 350px;
}
#deckMain div img:nth-child(9) {
  top: 400px;
}
#deckMain div img:nth-child(10) {
  top: 450px;
}
#deckMain div img:nth-child(11) {
  top: 500px;
}
#deckMain div img:nth-child(12) {
  top: 550px;
}
#deckMain div img:nth-child(13) {
  top: 600px;
}
#deckMain div img:nth-child(14) {
  top: 650px;
}
#deckMain div img:nth-child(15) {
  top: 700px;
}
#deckMain div img:nth-child(16) {
  top: 750px;
}
#deckMain div img:nth-child(17) {
  top: 800px;
}
#deckHome {
  float: right;
}
#options {
  float: right;
}
#wrap {
  position: relative;
}
#panelWin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 1;
}
#result {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  position: relative;
  top: 50%;
  text-align: center;
}